<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Material Admin by Bootstrapious.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="~/css/fontastic.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/css/style.blue.css" id="theme-stylesheet">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

    <script>
        var url = '@Url.Content("~/")';
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js" integrity="sha512-gYUM+7JjtBqPPGOgwgOZ+NwjGl+11/EP124oB+ihjlBpLgP5LTh7R/Iwcdy//cgH+QzrjspBiJI5iUegTNww3w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js" integrity="sha512-vv3EN6dNaQeEWDcxrKPFYSFba/kgm//IUnvLPMPadaUf5+ylZyx4cKxuc4HdBf0PPAlM7560DV63ZcolRJFPqA==" crossorigin="anonymous"></script>
</head>
<body ng-controller="AppController as vm" ng-init="vm.init()">
    <div id="ModalGeneral" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="TxtModalEnca" class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="TxtModalDetalle"></p>
                    <h4 class="text-center red" id="TxtMensajeModalGen"></h4>
                </div>
                <div class="modal-footer">
                    <button id="btnModalGenCan" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btnModalGenSi" type="button" class="btn btn-primary">Si</button>
                </div>
            </div>
        </div>
    </div>



    <div class="page">
        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar">
                <!-- Search Box-->
                <div class="search-box">
                    <button class="dismiss"><i class="icon-close"></i></button>
                    <form id="searchForm" action="#" role="search">
                        <input type="search" placeholder="What are you looking for..." class="form-control">
                    </form>
                </div>
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand -->
                            <a href="@Url.Content("~/")Home" class="navbar-brand d-none d-sm-inline-block">
                                <div class="brand-text d-none d-lg-inline-block"><span>Siin </span><strong>Erp</strong></div>
                                <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div>
                            </a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- Languages dropdown    -->
                            <li id="menu-opciones" class="nav-item dropdown">
                                <a id="opciones" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle"><img src="~/img/flags/16/CO.png" alt="Choices"><span class="d-none d-sm-inline-block">Opciones</span></a>
                                <ul aria-labelledby="opciones" class="dropdown-menu">
                                    <li><a rel="nofollow" href="@Url.Content("~/")Home/CambioClave" class="dropdown-item"> <i class="fa fa-lock bg-yellow"></i>Cambiar contraseña</a></li>
                                </ul>
                            </li>
                            <!-- Logout    -->
                            <li class="nav-item"><a id="aLogout" href="@Url.Content("~/")Home/CerrarSesion" class="nav-link logout"> <span class="d-none d-sm-inline">Salir</span><i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center">
                    <div class="avatar"><img id="ImgDelUsuario" src="~/img/LogoSiinErp.png" alt="..." class="img-fluid rounded-circle"></div>
                    <div class="title">
                        <h1 id="TxtNombreDelUsuario" class="h4">{{ vm.userApp.nombreCompleto }}</h1>
                        @*<p>Ing. Sistemas</p>*@
                    </div>
                </div>
                <!-- Sidebar Navidation Menus--><span class="heading">Principal</span>
                <ul class="list-unstyled">
                    <li><a href="@Url.Content("~/")Home"> <i class="icon-home"></i>Home </a></li>
                    <li>
                        <a href="#Gen" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-calendar-o"></i>General </a>
                        <ul id="Gen" class="collapse list-unstyled ">
                            <li><a href="@Url.Content("~/")General/Home/Empresas">Empresas</a></li>
                            <li><a href="@Url.Content("~/")General/Home/Tablas">Tablas</a></li>
                            <li><a href="@Url.Content("~/")General/Home/TiposDocumento">TiposDocumento</a></li>
                            <li><a href="@Url.Content("~/")General/Home/Parametros">Parametros</a></li>
                            <li><a href="@Url.Content("~/")General/Home/Terceros">Terceros</a></li>
                            <li><a href="@Url.Content("~/")General/Home/Periodos">Periodos</a></li>
                            <li><a href="@Url.Content("~/")General/Home/DptosCiudads">Ciudades</a></li>
                            <li><a href="@Url.Content("~/")General/Home/Usuarios">Usuarios</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#Comp" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-shopping-cart"></i>Compras </a>
                        <ul id="Comp" class="collapse list-unstyled ">
                            <li><a href="@Url.Content("~/")Compras/Home/Proveedores">Proveedores</a></li>
                            <li><a href="@Url.Content("~/")Compras/Home/Ordenes">Ordenes</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#Inv" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-bookmark"></i>Inventario </a>
                        <ul id="Inv" class="collapse list-unstyled ">
                            <li><a href="@Url.Content("~/")Inventario/Home/Articulos">Articulos</a></li>
                            <li><a href="@Url.Content("~/")Inventario/Home/TiposDoc">TiposDoc</a></li>
                            <li><a href="@Url.Content("~/")Inventario/Home/EntradasPorCompra">Entradas Por Compra</a></li>
                            <li><a href="@Url.Content("~/")Inventario/Home/Movimientos">Movimientos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#Ven" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-money"></i>Ventas </a>
                        <ul id="Ven" class="collapse list-unstyled ">
                            <li><a href="@Url.Content("~/")Ventas/Home/ListaPrecios">ListaPrecios</a></li>
                            <li><a href="@Url.Content("~/")Ventas/Home/Vendedores">Vendedores</a></li>
                            <li><a href="@Url.Content("~/")Ventas/Home/Clientes">Clientes</a></li>
                            <li><a href="@Url.Content("~/")Ventas/Home/PuntoDeVenta">PuntoDeVenta</a></li>
                            <li><a href="@Url.Content("~/")Ventas/Home/Facturar">Facturar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#Car" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-shopping-bag"></i>Cartera </a>
                        <ul id="Car" class="collapse list-unstyled ">
                            <li><a href="@Url.Content("~/")Cartera/Home/PlazosPago">PlazosPago</a></li>
                            <li><a href="@Url.Content("~/")Cartera/Home/Conceptos">Conceptos</a></li>
                            <li><a href="@Url.Content("~/")Cartera/Home/Movimientos">Movimientos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#Tes" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Tesoreria </a>
                        <ul id="Tes" class="collapse list-unstyled ">
                            <li><a href="@Url.Content("~/")Tesoreria/Home/Pagos">Pagos a proveedores</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#Con" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-dollar"></i>Contabilidad </a>
                        <ul id="Con" class="collapse list-unstyled ">
                            <li><a href="@Url.Content("~/")Contabilidad/Home/TiposContab">Tipos Doc Contables</a></li>
                            <li><a href="@Url.Content("~/")Contabilidad/Home/Retenciones">Conceptos Retencion</a></li>
                            <li><a href="@Url.Content("~/")Contabilidad/Home/PlanDeCuentas">Plan De Cuentas</a></li>
                            <li><a href="@Url.Content("~/")Contabilidad/Home/Comprobantes">Comprobantes</a></li>

                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="content-inner">
                <!-- Page Header-->
                <header class="page-header mb-3">
                    <div class="container-fluid">
                        <h2 id="TextHeader" class="no-margin-bottom">@Html.Raw(ViewData["Title"])</h2>
                    </div>
                </header>

                <script src="~/js/basic.min.js"></script>
                <link rel="stylesheet" href="~/css/basic.min.css" />
                <script src="~/master/js/services/services.min.js"></script>
                @*<script src="~/master/js/services/tesoreria/pagos.service.js"></script>*@
             
                <!--      <script src="~/master/js/services/inventario/*.js"></script>


        "wwwroot/master/js/erp/inventario/*.js",
    "wwwroot/master/js/erp/inventario/**/*.js",
    "wwwroot/master/js/erp/inventario/**/**/*.js",
    "wwwroot/master/js/erp/general/tablas/*.service.js",
    "wwwroot/master/js/erp/general/entidades/*.service.js"  -->



                <style>
                    button.ui-datepicker-current {
                        background-color: white !important;
                    }



                    .ui-datepicker div.ui-datepicker-buttonpane button.ui-datepicker-current {
                        font-weight: bold;
                        opacity: 1;
                        background: yellow;
                        filter: Alpha(Opacity=100);
                    }
                </style>

                @RenderBody()
                <!-- Page Footer-->
                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>&copy; @DateTime.Now.Year</p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <p>Design by <a href="https://bootstrapious.com/p/admin-template" class="external">?</a></p>
                                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
